
<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <section class="h-100 bg-dark">
                <!-- <div class="container py-5 h-100"> -->
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col">
                    <div class="card card-registration my-4">
                      <div class="row g-0">
        
                        <div class="col-xl-6">
                          <div class="card-body p-md-5 text-black">
                            <h3 class="mb-5 text-uppercase">your filled information</h3><hr>
        
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example9">Name</label>
                            
                              <input type="text" value="{{parentData.name}}"  id="form3Example9" class="form-control form-control-lg ms-4" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example90">email</label>
                              
                              <input type="text"  value="{{parentData.email}}" id="form3Example90" class="form-control form-control-lg" />
                            </div>
        
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example99">mobileno</label>
                                <input type="text" value="{{parentData.mobileno}}"  id="form3Example99" class="form-control form-control-lg" />
                              </div><div class="form-outline mb-4">
                                  <label class="form-label" for="form3Example99">favouritetopic</label>
                                <input type="text" value="{{parentData.fevouritetopic}}"   id="form3Example99" class="form-control form-control-lg" />
                              </div><div class="form-outline mb-4">
                                  <label class="form-label" for="form3Example99">gender</label>
                                <input type="text" value="{{parentData.gender}}"  id="form3Example99" class="form-control form-control-lg" />
                              </div>
                            
        
        
        
        
                            
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
              </section>
        
        </div>

    </div>
</div>